/* CSS clear */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}

/* Container styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Card styles */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 550px;
}

/* h2 styles */

h2 {
  margin-bottom: 20px;
}

/* input styles */

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 90%;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  text-align: center;
}

/* Button and buttong group styles */

.button-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  color: white;
}

.check-btn {
  background-color: #007bff;
}
.clear-btn {
  background-color: #dc3545;
}
.list-btn {
  background-color: #00a86b;
}

/* p styles */

p {
  margin-top: 10px;
  font-weight: bold;
}

/* Prime checker colors */

.result-prime {
  color: purple;
  font-weight: bold;
}

.result-not-prime {
  color: red;
  font-weight: bold;
}

/* Error styles */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-error {
  border: 2px solid red;
  outline: none;
  background-color: #ffe5e5;
}

.shake {
  animation: shake 0.3s ease-in-out;
}
